.social-login
    button.social-login__github
        a(href=routes.github)
            span
                i.fab.fa-github
            |Continue with Github
    button.social-login__naver
        a(href=routes.naver)
            span
                i.fab.fa-neos
            |Continue with Naver